<section>
    <div class="main-container">
        <h1 class="mb-5">Liste des joueurs</h1>
        <div class="grid grid-cols-5 gap-6">
            {{#each players}}
                <div class="border-2 border-black rounded-md p-4">
                    <span class="text-2xl font-medium">{{this.name}}</span>
                    <span class="text-gray-400 block text-xs">#{{this.id}}</span>

                    <div class="my-2">
                        <div class="flex items-center space-x-2 text-xs text-white">
                            <div class="bg-green-500 px-2 py-1 rounded-md">
                                {{this.gameWin}} gagnées
                            </div>
                            <div class="bg-red-500 px-2 py-1 rounded-md">
                                {{this.gameLost}} perdues
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center space-x-2 text-sm tracking-tight">
                            <a href="/players/{{this.id}}/edit" class="hover:text-indigo-500">Modifier</a>
                            <button data-id="{{this.id}}" class="hover:text-indigo-500 delete-player-button">Supprimer</button>
                        </div>
                    </div>
                </div>
                {{else}}
                <p class="col-span-5">Aucun joueur pour le moment. <a href="/players/new" class="text-indigo-500">Créer un joueur</a></p>
            {{/each}}
        </div>
    </div>
</section>

{{#javascripts}}
<script>

    const deletePlayer = async (id) => {
        let response

        try {
            response = await fetch(`/players/${id}`, {
                method: 'DELETE'
            });
        } catch (error) {
            console.error(error)
        }
        return response.ok ? true : false
    }

    const deleteButtons = document.querySelectorAll('.delete-player-button');

    deleteButtons.forEach((deleteButton) => {

        deleteButton.addEventListener('click', (event) => {
            event.preventDefault()

            deletePlayer(deleteButton.dataset.id)
            .then(response => {location.href = `/players`})
            .catch(response => console.error('Erreur lors de la requête'))
        })

    })


</script>
{{/javascripts}}