<section>
    <div class="main-container">
        <h1 class="mb-5">Dart Game</h1>

        <div class="grid grid-cols-5 gap-6">
            {{#each games}}
                <div class="border-2 border-black rounded-md p-4">
                    <a href="/games/{{this.id}}" class="text-2xl font-medium text-indigo-500">{{this.name}}</a>
                    <span class="text-gray-400 block text-xs">#{{this.id}}</span>
                    <p>Mode : {{this.mode}}</p>

                    <div>
                        <div class="flex items-center space-x-2 text-sm tracking-tight">
                            <a href="/games/{{this.id}}/edit" class="hover:text-indigo-500">Modifier</a>
                            <button data-id="{{this.id}}" class="hover:text-indigo-500 delete-game-button">Supprimer</button>
                        </div>
                    </div>
                </div>
                {{else}}
                <p class="col-span-5">Aucune partie pour le moment. <a href="/games/new" class="text-indigo-500">Créer une partie</a></p>
            {{/each}}
        </div>
    </div>
</section>

<script>

    const deleteGame = async (id) => {
        let response

        try {
            response = await fetch(`/games/${id}`, {
                method: 'DELETE'
            });
        } catch (error) {
            console.error(error)
        }
        return response.ok ? true : false
    }

    const deleteButtons = document.querySelectorAll('.delete-game-button');

    deleteButtons.forEach((deleteButton) => {

        deleteButton.addEventListener('click', (event) => {
            event.preventDefault()

            deleteGame(deleteButton.dataset.id)
            .then(response => {location.href = `/games`})
            .catch(response => console.error('Erreur lors de la requête'))
        })

    })


</script>